.Rproj.user/
.Rhistory
.RData
.Ruserdata
/*.Rcheck/
/*.tar.gz
*-Ex.R
.Rapp.history
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
.Rproj.user
.directory
.Rbuildignore
inst/doc
vignettes/*.html
vignettes/*.R
